/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    width: 100%;
    height: 600px;
}

.glitch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch-output {
  width: 500px;
  font-family: fantasy; 
  border: thin solid gray; 
  padding: 1em; 
  margin: 1em; 
  box-shadow: 2px 2px 5px gray; 
  background: #ffe;
}

.glitch-output #box {
  white-space: pre-wrap;
}